<a href="https://colab.research.google.com/github/SaiSree-0517/19A91A0517_SAISREE_CSEA_PYTHON_LAB_EXPERIMENTS/blob/main/PythonDsprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a program which will input 5 names from user and print the names in alphabetical order
names=[]
for i in range(5):
    n=input("Enter name")     
    names.append(n)
print("Entered names are:",names)
names.sort()
print("Sorted names are:",names)

Enter namejishi
Enter namejoy
Enter namejay
Enter namejames
Enter namecabel
Entered names are: ['jishi', 'joy', 'jay', 'james', 'cabel']
Sorted names are: ['cabel', 'james', 'jay', 'jishi', 'joy']

In [ ]:
#write a program to input name and marks of 5 students, print the name and marks of student who got the highest marks and who got the lowest marks
names=[]
marks=[]
for i in range(5):
    n=input("enter student name")
    m=input("enter marks of student")
    names.append(n)
    marks.append(m)
h=max(marks)
l=min(marks)
print("Highest marks are",h)
print("lowest marks are",l)
for i in range(5):
    if h==marks[i]:
        print("student having highest marks is",names[i])
    if l==marks[i]:
        print("student having lowest marks is",names[i])

enter student namejishi
enter marks of student90
enter student namejohana
enter marks of student50
enter student namejoy
enter marks of student20
enter student namejob
enter marks of student45
enter student namejay
enter marks of student20
Highest marks are 90
lowest marks are 20
student having highest marks is jishi
student having lowest marks is joy
student having lowest marks is jay

In [ ]:
#write a program to input a value and insert it in any position of an existing list
l=[19,12,2,5,62,74,32]
print("List is",l)
num=int(input("enter number to be inserted in the list"))
pos=int(input("enter the position to insert the number"))
l.insert(pos,num)
print("modified list is" ,l)

List is [19, 12, 2, 5, 62, 74, 32]
enter number to be inserted in the list44
enter the position to insert the number3
modified list is [19, 12, 2, 44, 5, 62, 74, 32]

In [ ]:
#program to find the sum of elements in a list
sum_num=0
ele=[]
n=int(input("enter number of elements"))
for i in range(0,n):
    l=int(input())
    ele.append(l)
for x in ele:
    sum_num=sum_num+x
print("sum is",sum_num)

enter number of elements4
55
22
33
11
sum is 121

In [ ]:
#write a program which will take a list and eliminate duplicates in the list

list1=[1,9,2,3,4,5,6,7,8,9,2,4,1,10]
newlist=[]
for item in list1:
    if item not in newlist:
        newlist.append(item)
print(newlist)

[1, 9, 2, 3, 4, 5, 6, 7, 8, 10]

In [ ]:
#program to print even and odd numbers into seperate lists
import random
num_list=[]
for i in range(10):
    val=random.randint(1,100)
    num_list.append(val)
print("original list",num_list)
even_list=[]
odd_list=[]
for i in range(len(num_list)):
    if num_list[i]%2==0:
        even_list.append(num_list[i])
    else:
        odd_list.append(num_list[i])
print("even numbers list",even_list)
print("odd numbers list",odd_list)

original list [100, 36, 28, 76, 45, 18, 34, 18, 16, 54]
even numbers list [100, 36, 28, 76, 18, 34, 18, 16, 54]
odd numbers list [45]

In [ ]:
#how to turn a list into a string without using join    
l=[1,3,4,5,6]
result=' '
for ele in l:
    result+=str(ele)
print(result)
print(type(result))

 13456
<class 'str'>

In [ ]:
#reverse every word of a given string and store it in list
s="hi hello how are you"
l=s.split()
print(l)
l2=[]
for w in l:              
    l2.append(w[::-1])    
print(l2)

['hi', 'hello', 'how', 'are', 'you']
['ih', 'olleh', 'woh', 'era', 'uoy']

In [ ]:
#reverse elements of a string and store it in list
s="hi hello how are you"
l=s.split()
print(l)
print(l[::-1])

['hi', 'hello', 'how', 'are', 'you']
['you', 'are', 'how', 'hello', 'hi']

In [ ]:
#write a program which it will take input 5 names from user and print the index of a name
a=[]
for i in range(5):
    x=input("enter names")
    a.append(x)
y=input("enter name to find index")
z=a.index(y)
print("index",z)

enter namesraj
enter namesharry
enter namesuday
enter namesteja
enter namesphani
enter name to find indexteja
index 3

In [ ]:
l=['raj','harry','uday','teja','kiran']
a='uday'
z=l.index(a)
print(z)

2

In [ ]:
#print rotation of a string
str1="HELLO"
size=len(str1)
temp=str1+str1
for i in range(size): 
    for j in range(size):
        print(temp[i+j],end="")
    print()

HELLO
ELLOH
LLOHE
LOHEL
OHELL

In [ ]:
#program to find maximum element in a list
ele=[]
n=int(input("enter number of elements"))
for i in range(0,n):
    l=int(input())
    ele.append(l)
print(ele)
max_num=ele[0]
for a in ele:
    if a>max_num:
        max_num=a
print("maximum element is",max_num)

enter number of elements8
45
75
85
95
62
35
25
88
[45, 75, 85, 95, 62, 35, 25, 88]
maximum element is 95

In [ ]:
l=[35,65,25,15]
print(max(l))

65

In [ ]:
#program to print the second largest element in a list
a=[]
n=int(input("Enter number of elements:"))
for i in range(0,n):
    b=int(input("Enter element:"))
    a.append(b)
a.sort(2)
print(a)
print("Second largest element is:",a[n-2])

Enter number of elements:5
Enter element:45
Enter element:65
Enter element:35
Enter element:75
Enter element:25
[25, 35, 45, 65, 75]
Second largest element is: 65

In [ ]:

#program to find number of occurrences of elements in a list
    #0  1  2  3  4  5  6   7  8  9  10 11 12 13 14
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
rem =int(input("enter the number to be searched"))
for i, x in enumerate(l):
    if x == rem:
        print(rem,"found at location",i)

enter the number to be searched5
5 found at location 2
5 found at location 8
5 found at location 11
5 found at location 14

In [ ]:
#program to print square of elements in a list
ele=[]
sqele=[]
n=int(input("enter number of elements"))
for i in range(0,n):
    l=int(input())
    ele.append(l)
print("original list",ele)
for i in ele:
    sqele.append(i**2)
print("squared list",sqele)

enter number of elements4
6
3
2
4
original list [6, 3, 2, 4]
squared list [36, 9, 4, 16]

In [ ]:
#reverse every alternate words in a given string
s='one two three four'
l=s.split()
print("original list",l)
i=0
l1=[]
while i<len(l):
    if i%2==0:    #even index
        l1.append(l[i])
    else:          #odd index
        l1.append(l[i][::-1])
    i=i+1
print(l1)

original list ['one', 'two', 'three', 'four']
['one', 'owt', 'three', 'ruof']

In [ ]:
#read alphanumeric string and print alphabets and digits in sorted order
s=input("enter alphanumeric string to sort")
alphabets=[]
digits=[]
for ch in s:
    if ch.isalpha():
        alphabets.append(ch)
    else:
        digits.append(ch)
output=''.join(sorted(alphabets)+sorted(digits))
print(output)
type(output)

enter alphanumeric string to sortU856O473P21
OPU12345678

str

In [ ]:
#write a program for the following one
#input:-a4b3c2
#output:-aaaabbbcc
s='a4b3c2'
output=' '
for ch in s:
    if ch.isalpha():
        x=ch
    else:
        d=int(ch)
        output=output+x*d
print(output)

 aaaabbbcc

In [ ]:
#linear search
l=[]
a=int(input("enter the range"))
for i in range(a):
    b=int(input("enter the elements"))
    l.append(b)
print(l)    
c=int(input("enter the search value"))
found=False
for i in range(len(l)):
    if l[i]==c:
        found=True
        print(c,'was found in the list at index',i)
        break
if found==False:
    print(c,'was not found in the list')

enter the range5
enter the elements85
enter the elements45
enter the elements35
enter the elements95
enter the elements25
[85, 45, 35, 95, 25]
enter the search value35
35 was found in the list at index 2

In [ ]:
eval("3+2")

5

In [ ]:
#write a program that take the index as input and print the corresponding value
a=eval(input("enter the tuple"))
b=int(input("enter the index number"))
if b<len(a):
    print("value is",a[b])
else:
    print("index out of range")

enter the tuple(1,4,8)
enter the index number4
index out of range

In [ ]:
#tuple pair ((2,5),(4,2),(9,8),(12,8)) count the number of pair(a,b) such that a and b are even.
tup=((2,5),(4,2),(9,8),(12,8),(3,3),(8,8))   #(4,2),(12,8),(8,8)
count=0
for i in range(len(tup)):
    if tup[i][0]%2==0 and tup[i][1]%2==0:
        count+=1
print("the number of pair(a,b) such that a and b are even",count)

the number of pair(a,b) such that a and b are even 3

In [ ]:
#write a program that will print the shortest string
tup=eval(input("enter tuple of string"))
short=tup[0]
for i in tup:
    if len(i)<len(short):
        short=i
print("shortest string in tuple",short)

enter tuple of string('abc','ab','a','abcd')
shortest string in tuple a

In [ ]:
#program to find common characters present in two words
string1 = input("enter string1")
string2 = input("enter string2")
s1 = set(string1)
print(s1)
s2 = set(string2)
print(s2)
common_char = s1 & s2 #s1.intersection(s2)
print('common charcters',common_char)

enter string1abcd
enter string2bcef
{'b', 'c', 'd', 'a'}
{'b', 'c', 'e', 'f'}
common charcters {'b', 'c'}

In [ ]:
#program to take a tuple that has both positive and negative numbers.
#create a new tuple that has only positive values and print it.
tup=(-10,1,2,-9,3,4,-8,5,6)
newtup=()
for i in tup:
    if i>0:
        newtup+=(i,)   #newtup=newtup+(i,)
print(newtup)

(1, 2, 3, 4, 5, 6)

In [ ]:
#program to remove frequent occurrence of a element from the list
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
    #0  1  2  3  4  5  6   7  8  9  10 11 12 13 14
rem = 5
indices = []
for i, x in enumerate(l):
    if x == rem:
        indices.append(i)
print(indices)        
indices.reverse()
for i in indices:
    l.pop(i) 
print(l)

[2, 8, 11, 14]
[3, 4, 6, 1, 9, 10, 8, 2, 3, 2, 1]

In [ ]:
#using membership operator
states=["Telangana","Andhra Pradesh","Tamil Nadu","Maharastra"]
st=input("Enter the name of the state:")
if st in states:
    print(st,"is one of the state in india")
else:
    print(st,"is not one of the state in india")

Enter the name of the state:Telangana
Telangana is one of the state in india

In [ ]:
#write a program that create a tuple storing first 9 term of fibonacci series
fib=(0,1,1)
for i in range(6):
    fib=fib+(fib[i+1]+fib[i+2],)
print(fib)

(0, 1, 1, 2, 3, 5, 8, 13, 21)

In [ ]:
#print maximum element in a set
s=set()
a=int(input("enter the range"))
for i in range(a):
    b=int(input("enter the elements"))
    s.add(b)
print(s)
print('maximum element',max(s)) #maximum element
print('minimum element',min(s)) #minimum element
print('no of elements',len(s)) #no of elements present in the set

enter the range4
enter the elements23
enter the elements15
enter the elements6
enter the elements45
{15, 45, 6, 23}
maximum element 45
minimum element 6
no of elements 4

In [ ]:
#Write a program that accepts a sequence of whitespace separated words as input and 
#prints the words after removing all duplicate words and sorting them alphanumerically.
s =input()
words = [word for word in s.split(" ")]   #list comprehension
print(words)
print(" ".join(sorted(list(set(words)))))

how are you are you fine
['how', 'are', 'you', 'are', 'you', 'fine']
are fine how you

In [ ]:
#write a program that will print randomly select an item from a list
import random
color_list=['red','green','blue','white','black','yellow','maroon']
print(random.choice(color_list))

green

In [ ]:
#how to iterate through two lists in parallel
num=[1,2,3,4]
color_list=['red', 'green', 'blue', 'white']
for (a,b) in zip(num,color_list):
	print(a,b)

1 red
2 green
3 blue
4 white

In [ ]:
#write a python program to sort a list of tuples based on marks using lambda
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)
print('dictionary',dict(subject_marks))

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]
dictionary {'Social sciences': 82, 'English': 88, 'Science': 90, 'Maths': 97}

In [ ]:
#how to convert two lists into a dictionary
k=['a','b','c','d','e']
v=[1,2,3,4,5]
d=dict(zip(k,v))
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
#create a dictionary which contains numbers between 1 to n as a key and square of them as a value
n=int(input("enter n value"))  #d[key]=value
d=dict()
for i in range(1,n+1):
  d[i]=i**2   #add key value pair to the dictionary
print(d)

enter n value6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#program to take input string and print each character occurrences
letter_counts={}
message=input("enter message")
for letter in message:
    letter_counts[letter]=letter_counts.get(letter,0)+1
print(letter_counts)

enter messagehello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
#program to take input string and print the word frequency in dictionary
st=input("enter string")
l=[]
l=st.split()
print(l)
wordfreq=[l.count(p) for p in l]
print(wordfreq)
print(dict(zip(l,wordfreq)))

enter stringhow are you are you fine
['how', 'are', 'you', 'are', 'you', 'fine']
[1, 2, 2, 2, 2, 1]
{'how': 1, 'are': 2, 'you': 2, 'fine': 1}

In [ ]:
#printing dictionary line by line
students = {'Ravi':{'class':'V',
        'roll_id':2},
        'Puja':{'class':'V',
        'roll_id':3}}
for a in students:
    print(a)
    for b in students[a]:
        print (b,':',students[a][b])

Ravi
class : V
roll_id : 2
Puja
class : V
roll_id : 3

In [ ]:
di={'one':1,'two':2}
print(di['one'])
print(di['two'])

1
2

In [ ]:
#how to get a key from a value 
employees={1:'john',2:'ravi',3:'suma'}
n=input("enter name")
[number for number,name in employees.items() if name==n]

enter namesuma

[3]

In [ ]:
#remove a key from the dictionary
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
rm=input('enter the key to remove')
if rm in myDict:    #membership operator in 
    del myDict[rm]
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
enter the key to removed
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Write a Python script to sort a dictionary by key.
alphabets = {
    5: 'e',
    4: 'd',
    3: 'c',
    2: 'b',
    1: 'a',
}
'''
sorted_alphabets = {}
for k, v in sorted(alphabets.items()):
    sorted_alphabets[k] = v
print("In ascending order:")
print(sorted_alphabets)
'''
#print(alphabets.items())
l=list(alphabets.items())
l.sort()
#print(l)
di=dict(l)
print(di)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [ ]:
#descending order
alphabets = {
    1: 'a',
    2: 'b',
    3: 'c',
    4: 'd',
    5: 'e',
}
l=list(alphabets.items())
#print(l)
l.sort(reverse=True)
#print(l)
di=dict(l)
print(di)

{5: 'e', 4: 'd', 3: 'c', 2: 'b', 1: 'a'}

In [ ]:
#sort dictionary by a value
markdict = {"Tom":67, "Tina": 54, "Akbar": 87, "Kane": 43, "Divya":73}
marklist = sorted(markdict.items(), key=lambda x:x[1])
print(marklist)
sortdict = dict(marklist)
print(sortdict)

[('Kane', 43), ('Tina', 54), ('Tom', 67), ('Divya', 73), ('Akbar', 87)]
{'Kane': 43, 'Tina': 54, 'Tom': 67, 'Divya': 73, 'Akbar': 87}

In [ ]:
#Write a Python script to check if a given key already exists in a dictionary.
dictionary = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
key = int(input("Enter a key: "))
if key in dictionary:
    print("Key "+str(key)+" is already present")
else:
    print("key"+str(key)+" is not present in the dictionary")

Enter a key: 9
key9 is not present in the dictionary

In [ ]:
#Write a Python script to merge two Python dictionaries.
students = {1: 'Rahima', 2: 'Alishba', 3: 'Fizza'}
friends = {4: 'Bilal', 5: 'Arbab', 6: 'Shahzor'}
list_of_dicts = [students, friends]
#print(list_of_dicts)
mixed_dic = {}
for i in list_of_dicts:
    for k, v in i.items():
        mixed_dic[k] = v   
print(mixed_dic)

{1: 'Rahima', 2: 'Alishba', 3: 'Fizza', 4: 'Bilal', 5: 'Arbab', 6: 'Shahzor'}

In [ ]:
#Write a Python program to remove a key from a dictionary.
dictionary = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
n = int(input("Enter an integer: "))
if n in dictionary:
    del(dictionary[n])
else:
    print(str(n)+" is not a key")
print(dictionary)

Enter an integer: 4
{1: 10, 2: 20, 3: 30, 5: 50, 6: 60}

In [ ]:
#Write a Python program to get the key, value and item in a dictionary.
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
n = 0
print("Key    Value    Count")
for key, value in dict_num.items():
    n+=1
    print(" "+str(key)+"      "+str(value)+"        "+str(n))

Key    Value    Count
 1      10        1
 2      20        2
 3      30        3
 4      40        4
 5      50        5
 6      60        6

In [ ]:
#finding missing number in an array or list
a=[1,2,4,5,6]
n=a[-1]
#print(n)
sum1=0
total=n*(n+1)//2 #sum of n natural numbers
#print(total)
sum1=sum(a)
print(total-sum1)

3

In [ ]:
#print all pairs whose sum is 10
l = [4, 3, 2, 6, 8, 9, 7, 11, 1]
n = 10
for i, x in enumerate(l):
  for j, y in enumerate(l):
    if i != j and x+y == n:
      print((x, y))

(4, 6)
(3, 7)
(2, 8)
(6, 4)
(8, 2)
(9, 1)
(7, 3)
(1, 9)

In [ ]:
'''Given customer ids who deposited money, for the last three days.
1. Find the customer ids who deposited on 1st and 3rd days but not on the 2nd day.
2. Find the customer id, who deposited all the days
3. Customer ids, who did deposites atleast 2 of the 3 days
4. Total number of customers who did deposites'''
day1 = [1122, 1234, 1256, 1389, 1122, 1234, 1389, 1122, 1389, 1234]
day2 = [1134, 1256, 1399, 1455, 1399, 1256, 1134, 1455, 1256, 1134]
day3 = [1256, 1455, 1122, 1899, 1256, 1122, 1455, 1899, 1455, 1122]
d1 = set(day1)
d2 = set(day2)
d3 = set(day3)
print('Customer who deposited on day 3 and day 1 but not on day 2:')
print((d1 & d3) - d2)

Customer who deposited on day 3 and day 1 but not on day 2:
{1122}

In [ ]:
print('Customers who did deposites all the threee days:')
print(d1 & d2 & d3)

Customers who did deposites all the threee days:
{1256}

In [ ]:
customers = (d1 & d2) | (d2 & d3) | (d3 & d1)
print('Customers who did deposites atleast 2 days out of 3 days')
print(customers)

Customers who did deposites atleast 2 days out of 3 days
{1256, 1122, 1455}

In [ ]:
all_cust = d1 | d2 | d3
print(all_cust)
print('Number of customers who did deposites:', len(all_cust))

{1122, 1256, 1899, 1389, 1134, 1455, 1234, 1399}
Number of customers who did deposites: 8